<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "assets/img/apple-icon.png" %}">
    <link rel="icon" type="image/png" href="{% static "assets/img/favicon.ico" %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>跨境电子商务教学平台-学生-在线学习</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"/>
    <!-- CSS Files -->
    <link href="{% static "assets/css/bootstrap.min.css" %}" rel="stylesheet"/>
    <link href="{% static "assets/css/light-bootstrap-dashboard.css" %} " rel="stylesheet"/>
    <link href="{% static "assets/css/owl.carousel.min.css" %} " rel="stylesheet"/>
    <link href="{% static "assets/css/style.css" %} " rel="stylesheet"/>
    <link href="{% static "assets/css/themify-icons.css" %} " rel="stylesheet"/>
</head>

<body>
<div class="wrapper">
    {% include "student/sidebar_student.html" %}
    <div class="main-panel">
        {% include "student/navbar.html" %}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="course-curriculum">
                            <ul class="nav nav-tabs">
                                <li><a class="active" data-toggle="tab" href="#curriculum">课程内容</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="curriculum" class="tab-pane active">
                                    <nav aria-label="breadcrumb" id="courseNav">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item form-inline" aria-current="page"><a
                                                    href="javascript:void(0);"
                                                    onclick="showChapterList()">章节列表</a>
                                            </li>
                                            <div class="dropdown form-inline">
                                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                                                   id="dropdownChapterLink" data-toggle="dropdown" aria-haspopup="true"
                                                   aria-expanded="false">
                                                    下拉菜单
                                                </a>

                                                <div class="dropdown-menu" aria-labelledby="dropdownChapterLink">
                                                    {% for c in chapters %}
                                                        <a class="dropdown-item" href="#">第 {{ forloop.counter }}
                                                            章 {{ c.chaptername }}</a>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="dropdown form-inline">
                                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                                                   id="dropdownSectionLink" data-toggle="dropdown" aria-haspopup="true"
                                                   aria-expanded="false">
                                                    下拉菜单
                                                </a>

                                                <div id="dropdownSectionList" class="dropdown-menu"
                                                     aria-labelledby="dropdownSectionLink">

                                                </div>

                                            </div>
                                        </ol>
                                    </nav>
                                    <div id="sectionDetail_div" class="row">
                                        <div class="col-md-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h2 class="card-title" style="text-align: center"></h2>
                                                    <p class="card-category" style="text-align: center"></p>
                                                </div>

                                                <div class="card-body">
                                                    <div class="iframe-container">
                                                        <iframe id="sectionDetail_pdf" src="" frameborder="0"
                                                                height="700px">
                                                            This browser does not support PDFs. Please download the PDF
                                                            to
                                                            view it: <a
                                                                href="">Download PDF</a>
                                                        </iframe>
                                                    </div>
                                                    <section>
                                                        <ul>

                                                        </ul>
                                                    </section>
                                                    <!--问题-->
                                                    <section id="sectionSimulation">
                                                        <h4>综合模拟测试：</h4>
                                                        <p>

                                                        </p>
                                                    </section>
                                                    <section id="sectionQuestion">
                                                        <h4>问题：</h4>
                                                        <p>

                                                        </p>
                                                    </section>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion" id="chapterList">
                                        {% for c in chapters %}
                                            {% if forloop.counter == 1 %}
                                                <div class="accordion-item active">
                                                    <h5 class="" data-toggle="collapse"
                                                        data-target="#acpan{{ c.chapterid }}"
                                                        aria-expanded="true">
                                                        第 {{ forloop.counter }} 章 {{ c.chaptername }}
                                                        <span>共{{ c.section_set.count }}节</span>
                                                    </h5>
                                                    <div id="acpan{{ c.chapterid }}" class="collapse show"
                                                         data-parent="#accordion">
                                                        <div class="acr-body">
                                                            <ul>
                                                                {% for s in c.section_set.all %}
                                                                    <li>
                                                                        <a href="javascript:void(0)"
                                                                           onclick="javascript:querySectionDetail('{{ s.sectionid }}','{{ forloop.parentloop.counter }}.{{ forloop.counter }} {{ s.sectionname }}','{{ forloop.counter }}','第 {{ forloop.counter }} 章 {{ c.chaptername }}')"><i
                                                                                class="ti-control-play"
                                                                                id="a{{ s.sectionid }}"></i>
                                                                            {{ forloop.parentloop.counter }}.{{ forloop.counter }} {{ s.sectionname }}
                                                                        </a>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <div class="accordion-item">
                                                    <h5 class="" data-toggle="collapse"
                                                        data-target="#acpan{{ c.chapterid }}"
                                                        aria-expanded="false">
                                                        第 {{ forloop.counter }} 章 {{ c.chaptername }}
                                                        <span>共{{ c.section_set.count }}节</span>
                                                    </h5>
                                                    <div id="acpan{{ c.chapterid }}" class="collapse"
                                                         data-parent="#accordion">
                                                        <div class="acr-body">
                                                            <ul>
                                                                {% for s in c.section_set.all %}
                                                                    <li>
                                                                        <a href="javascript:void(0)"
                                                                           onclick="javascript:querySectionDetail('{{ s.sectionid }}','{{ forloop.parentloop.counter }}.{{ forloop.counter }} {{ s.sectionname }}','{{ forloop.counter }}','第 {{ forloop.counter }} 章 {{ c.chaptername }}')"><i
                                                                                class="ti-control-play"
                                                                                id="a{{ s.sectionid }}"></i>
                                                                            {{ forloop.parentloop.counter }}.{{ forloop.counter }} {{ s.sectionname }}
                                                                        </a>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
<!--   Core JS Files   -->
<script src="{% static "assets/js/core/jquery.3.2.1.min.js" %}" type="text/javascript"></script>
<script src="{% static "assets/js/core/jquery.media.js" %}" type="text/javascript"></script>
<script src="{% static "assets/js/core/popper.min.js" %}" type="text/javascript"></script>
<script src="{% static "assets/js/core/bootstrap.min.js" %}" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="{% static "assets/js/plugins/bootstrap-switch.js" %}"></script>
<!--  Chartist Plugin  -->
<script src="{% static "assets/js/plugins/chartist.min.js" %}"></script>
<!--  Notifications Plugin    -->
<script src="{% static "assets/js/plugins/bootstrap-notify.js" %}"></script>
<!-- Control Center for Light Bootstrap Dashboard: scripts for the example pages etc -->
<script src="{% static "assets/js/light-bootstrap-dashboard.js" %} " type="text/javascript"></script>
<script src="{% static "assets/js/demo.js" %}"></script>
<script src="{% static "DataTables/datatables.min.js" %}"></script>

<script type="text/javascript">
    function showNotification(message, from, align) {

        $.notify({
            icon: "nc-icon nc-app",
            message: message
        }, {
            timer: 8000,
            placement: {
                from: from,
                align: align
            }
        });
    }

    //获取cookie代码
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function querySectionDetail(sectionid, sectionname, chapternum, chaptername, content) {
        $('#dropdownChapterLink').text(chaptername);
        $('#dropdownSectionLink').text(sectionname);
        $('#dropdownSectionList').empty();
        {% for c in chapters %}
            if ({{ forloop.counter }}== chapternum)
            {
                {% for s in c.section_set.all %}
                    $('#dropdownSectionList').append(' <a class="dropdown-item" href="#">{{ forloop.parentloop.counter }}.{{ forloop.counter }}  {{ s.sectionname }}</a>')
                {% endfor %}
            }
        {% endfor %}
        $('#courseNav').show();
        $('#chapterList').hide();
        //ajax查询该section的详情
        //查询所有topic
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        });
        var url_path = window.location.protocol + "//" + window.location.host;
        $.ajax({
            type: 'post',
            url: 'get_section_details',
            data: {'sectionid': sectionid},
            success: function (result) {
                var resultJson = JSON.parse(result);
                console.info(resultJson);
                if (resultJson.status === 100) {
                    $('#sectionDetail_div').show();
                    $('#sectionDetail_pdf').hide();
                    $('#sectionSimulation').hide();
                    $('#sectionDetail_div .card-body section ul').html('');
                    $('#sectionDetail_div .card-title').text(resultJson.result.section.sectionname);
                    $('#sectionDetail_div .card-category').text(resultJson.result.section.content);
                    if (resultJson.result.topics != null) {
                        var htmltext = '';
                        //topic内容
                        for (var i = 0; i < resultJson.result.topics.length; i++) {
                            if (resultJson.result.topics[i].topic.topictype == '0') {
                                var topicname = resultJson.result.topics[i].topic.topicname;
                                htmltext += "<li>" + topicname + "\n" +
                                    "                                                                <ul>\n";
                                var topictext = resultJson.result.topics[i].topic.content;
                                var topiclist = topictext.split('_');
                                for (var j = 0; j < topiclist.length; j++) {
                                    //按照\n分割
                                    htmltext += "<li>\n" +
                                        "                                                                        <dl>\n";
                                    var subtopiclist = topiclist[j].split('\\n');
                                    for (var k = 0; k < subtopiclist.length; k++) {
                                        if (subtopiclist[k].includes('*')) {
                                            htmltext += " <dt>" + subtopiclist[k].replace(/\*/g, '') + "</dt>\n";
                                        } else {
                                            htmltext += " <dd>" + subtopiclist[k] + "</dd>\n";
                                        }
                                    }
                                    htmltext += "                                                                        </dl>\n" +
                                        "                                                                    </li>\n";
                                }
                                //判断是否有图片内容
                                if (resultJson.result.topics[i].pathlist != null) {
                                    for (var j = 0; j < resultJson.result.topics[i].pathlist.length; j++) {
                                        htmltext += "<img src=" + url_path + '/' + resultJson.result.topics[i].pathlist[j].path + "/>\n"
                                    }
                                }
                                htmltext += "                                                                </ul>\n" +
                                    "                                                            </li>";
                            } else if (resultJson.result.topics[i].topic.topictype == '1') {
                                //课件
                                $('#sectionDetail_pdf').attr('src', url_path + '/' + resultJson.result.topics[i].pathlist[0].path);
                                $('#sectionDetail_pdf').show();
                            }
                        }
                        $('#sectionDetail_div .card-body section ul').html(htmltext);
                    }
                    var colors=['#33CCCC','#9988CC'];
                    if(resultJson.result.sectionsimulations!=null){
                        var htmltext = '';
                        for (var i = 0; i <resultJson.result.sectionsimulations.length ; i++) {
                            var ss=resultJson.result.sectionsimulations[i];
                            htmltext+=ss.section_simulation.simulationtitle;
                            if(ss.answers!=null){
                                for (var j = 0; j <ss.answers.length ; j++) {
                                    var answer=ss.answers[j];
                                    htmltext+="<div class=\"col-md-6\">\n" +
                                        "                                            <div class=\"card \" style=\"Background:"+colors[j%colors.length]+";\"\n" +
                                        "                                                 onclick=\"document.getElementById('result"+i+"').innerHTML ='"+answer.content+"'\"\n" +
                                        "                                                 onmouseover=\"document.getElementById('compare_pay"+j+"').style.fontWeight='bold'; document.getElementById('compare_pay"+j+"').style.textDecoration='underline'\"\n" +
                                        "                                                 onmouseout=\"document.getElementById('compare_pay"+j+"').style.fontWeight='normal'; document.getElementById('compare_pay"+j+"').style.textDecoration='none'\">\n" +
                                        "                                                <div class=\"card-body\" style=\"color: #FFFFFF\">\n" +
                                        "                                                    <div class=\"typography-line\">\n" +
                                        "                                                        <h3 id=\"compare_pay"+j+"\" style=\"text-align:center\">\n" +
                                        "                                                           "+answer.answertitle+"</h3>\n" +
                                        "                                                    </div>\n" +
                                        "                                                </div>\n" +
                                        "                                            </div>\n" +
                                        "                                        </div>"
                                }
                            }
                            htmltext+="<p id=\"result"+i+"\"></p>"
                        }
                        $('#sectionSimulation').show();
                        $('#sectionSimulation p').html(htmltext);
                    }
                    if(resultJson.result.sectionquestions!=null){
                        var htmltext = '';
                        for (var i = 0; i <resultJson.result.sectionquestions.length ; i++) {
                            var sq=resultJson.result.sectionquestions[i];
                            htmltext+=sq.questiontitle;

                        }
                        $('#sectionQuestion').show();
                        $('#sectionQuestion p').html(htmltext);
                    }
                } else {
                    showNotification(result.result.notification);
                }
            }

        });
    }

    function showChapterList() {
        $('#chapterList').show();
        $('#courseNav').hide();
        $('#sectionDetail_div').hide();
    }

    $(document).ready(function () {

        //面包屑导航栏为默认关闭，当点击某一个section时显示，
        $('#courseNav').hide();
        $('#sectionDetail_div').hide();
    });
</script>
</html>
